@import "./utils/variables";
@import "./utils/placeholders";
@import "./base/page-general-components";
@import "./components/header";
@import "./components/header-container";
@import "./components/logo-header";
@import "./components/header-navigation";
@import "./components/header-contact";
@import "./components/section-hero";
@import "./components/button-form";
@import "./components/section-feature";
@import "./components/section-product";
@import "./components/section-comand";
@import "./components/social-list";
@import "./components/section-clients";
@import "./components/footer";
@import "./components/footer-address";
@import "./components/footer-social";
@import "./components/footer-subscription";
@import "./components/portfolio-section";
@import "./components/portfolio-list-button";
@import "./components/portfolio-cards";
// @import "./components/modal-window";
// @import "./components/modal-window";
// @import "./components/modal-form";
// @import "./components/modal-policy-checkbox";

















