.footer {
  background-color: $background-hero-footer;
  
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-—Åontainer {
    @extend %container;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    

   
    // align-items: baseline;
}