.social {
    margin-top: 60px;
    
    @media screen and (min-width: 768px) {
        margin-top: 0px;
        width: 369px;
    }
    @media screen and (min-width: 1200px) {
        width: max-content;
        margin-left: 70px;
    }
    // 
    
    & .footer-title-social {
        @extend %footer-title;
        text-align: center;
        
        @media screen and (min-width: 1200px) {}
            text-align: start;
        }
    & .footer-social-list {
        padding-bottom: 0px;
    }
}
.link.social-img-white {
    background-color: rgba(255, 255, 255, 0.1);
    color: $primary-white-color;
  
    transition: 250ms $bezier-page;

    &:focus,
    &:hover {
        background-color: $accent-color;
    }
}
.icon-footer-header {
    fill: currentColor;
}
  