.footer {
  background-color: $background-hero-footer;
  
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-сontainer {
    @extend %container;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      align-items: baseline;
    }
}