.footer-subscription {
    margin-top: 60px;
    @media screen and (min-width: 768px) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1200px) {
        width: max-content;
        margin-left: 93px;
        margin-right: 0px;
        margin-top: 0px;
    }


    & .footer-title-subscription {
        @extend  %footer-title;
        text-align: center;
        
        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }
}
.form-subscription {
    display: flex;
    flex-direction: column;

    max-width: 450px;
    @media screen and (min-width: 1200px) {
        align-items: center;
        flex-direction: row;
    }
}
.field-email {
    display: block;
    max-width: 450px;
    height: 50px;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        margin: 0;
        min-width: 358px;
        display: flex;
    }

    
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
  
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    // padding-right: 0;
    letter-spacing: 0.03em;
    color: $contact-text-color;
  
    transition: 250ms $bezier-page;
    
    &::placeholder {
        color: $contact-text-color;
    }
}
.button-subscription-center {
display: flex;
justify-content: center;
}

.button-subscription {
    width: 200px;
    height: 50px;
    
    padding: 0;
    @media screen and (min-width: 1200px) {
        margin-left: 12px;
    }
    
    display: flex;
    align-items: center;
    padding-left: 29px;
    
    border: none;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  
    color: $primary-white-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
  
    transition: 250ms $bezier-page;

    &:hover,
    &:focus {
        background: $primary-white-color;
        color: $accent-color;
    }
}
.icon-subscription {
    margin-left: 10px;
    fill: currentColor;
}
