.navigation {
    display: flex;
    align-items: center;
    // margin-right: auto;
    justify-content: space-between;
    // min-height: 80px
    
    @media screen and (max-width: 767px) {
        font-size: 18px; 
        line-height: 1;
    }
}    

.site-nav {
    @extend %list;
    display: block;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        margin-right: 84px;

       

    }
}
.site-nav-item {
           
    &:not(:last-child) {
        margin-bottom: 52px;
    
        @media screen and (min-width: 768px) {
        margin-bottom: 0px;
        
            &:not(:last-child) {
              margin-right: 50px;
            }   
        }   
    }
}  
.menu-link {
    color: $title-text-color;
    font-weight: 500;
    // line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    /* position: relative; */
    position: relative;
    transition: 250ms $bezier-page;
      
    &.current {
        color: $accent-color;
    }
    &:hover,
    &:focus {
        color: $accent-color;
    }
}
/* .menu-link:hover:after,
  .menu-link:focus:after, */
.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    // background-position: center;
    /* bottom: -31.85px; */
    // bottom: -28.5px;
    bottom: -8px;
    right: 0px;

   
    background-color: $accent-color;
    border-radius: 2px;

    @media screen and (min-width: 768px) {
        bottom: -37px;
    }



}
