.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;


    justify-content: space-between;
    min-height: 80px;
}    

.site-nav {
    @extend %list;
    display: none;
}
.site-nav-item {
    position: relative;
    
    &:not(:last-child) {
      margin-right: 50px;
    }
}  
.menu-link {
    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    /* position: relative; */
    transition: 250ms $bezier-page;
      
    &.current {
        color: $accent-color;
    }
    &:hover,
    &:focus {
        color: $accent-color;
    }
}
/* .menu-link:hover:after,
  .menu-link:focus:after, */
.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    /* bottom: -31.85px; */
    bottom: -28.5px;
   
    background-color: $accent-color;
    border-radius: 2px;
}
