.section-comand {
    @extend %section;
    background-color: $background-section-comand;
  }
.container-comand {
      @extend %container;
      
      & .section-title-comand {
        @extend %section-title;
      }
}
.comand-list{
    @extend %list;
    // @extend %grid-list;
        
    & .comand-item {
        background-color: $primary-white-color;
        font-size: 16px;
        line-height: 1.19;
        /* padding-bottom: 30px; */
    }
    & .title-comand-name {
        color: $title-text-color;
        font-weight: 500;
    
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
.comand-item {
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0px;
    }
  
    // margin-left: 30px;
    // /* margin-top: 30px; */
    // flex-basis: calc(100% / 4 - 30px);
    
    & .comand-position {
    margin-bottom: 16px;
    }
}
  