.section-feature {
    @extend %section;
   
      
    & .title-hidden {
        @extend %visually-hidden;
        }
    & .container-feature {
        @extend %container;
    }
    

        
}
.feature-list {
    @extend %list;
         
    & .feature-title {
        display: block;
        text-align: start;
        color: $title-text-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        margin-bottom: 10px;
    }
    & .feature-description {
        margin-bottom: 0;
        padding-block-start: 3px;
        padding-block-end: 3px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 0px;
       
    }
}
.feature-item {
    // margin-left: 30px;
    /* margin-top: 30px; */
    // flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0px;
    }
        
    &::before {
        display: block;
        content: '';
        height: 120px;
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f5f4fa;
        border-radius: 4px;
        margin-bottom: 30px;
    

        @media screen and (min-width: 768px) {
            // width: 354px;    
        }
        @media screen and (min-width: 1200px) {
            // width: 270px;    
        }

    }
    @media screen and (min-width: 768px) {
        margin-left: 30px;
        margin-top: 30px; 
        flex-basis: calc(100% / 2 - 30px);
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 0px;
        flex-basis: calc(100% / 4 - 30px)

    }
}
  
.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}
.icon-clock::before {
    background-image: url(../images/clock.svg);
}
.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}