.section-clients {
    @extend %section;
}
.container-clients {
    @extend %container;
    
    & .section-title-clients {
        @extend %section-title;
    }
    & .list-clients {
        @extend %list;
        @extend %grid-list;
    }
}
.clients-item {
    margin-left: 30px;
    flex-basis: calc(100% / 6 - 30px);
    /* margin-top: 30px; */

    & .link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 170px;
        color: #afb1b8;
        border: 1px solid #afb1b8;
        border-radius: 4px;
      
        transition: 250ms $bezier-page;
    }
    & .link:hover,
    & .link:focus {
        border-color: $accent-color;
        color: $accent-color;
    }
}
.client-icon {
    fill: currentColor;
}