.social-list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    width: 206px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
      }
  }
.social-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
    & .link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
    
        color: #afb1b8;
        border-radius: 50%;
    
        transition: 250ms $bezier-page;
    }
    & .link:hover,
    & .link:focus {
        background-color: $accent-color;
        color: $primary-white-color;
    }
}
.icon {
    fill: currentColor;
}