html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
  }
  body {
    background-color: $primary-white-color;
    color: $primary-text-color;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;

  }
  body.modal-open {
    overflow: hidden;
  }