  %section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    } 
}
  %list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  %visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  %container {
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
    margin: 0 auto;

    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
   %button {
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    border: none;
  }
  %grid-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    /* margin-top: -30px; */
  }

  %logo {
      color: $title-text-color;
      font-family: Raleway, sans-serif;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.19;
      text-decoration: none;
    }
  %hero {
    text-align: center;
    background-color: $background-hero-footer;
  }
  %section-title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
  
    margin-bottom: 50px;
  }
  
  %footer-title {
    display: block;
    text-transform: uppercase;
    color: $primary-white-color;
    line-height: 1.14;
  
    margin-bottom: 20px;
  }
  